In [25]:
import pandas as pd, numpy as np

# Hierarchical Indexing

Say we are tasked with creating a series that stores some two dimensional data. For concreteness, let's assume each point to have 2 keys - a string and a numerical key.

In [26]:
tupledindex = [('California', 2000), ('California', 2010),('New York', 2000), ('New York', 2010),('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,18976457, 19378102,20851820, 25145561]
Popz = pd.Series(populations, index=tupledindex)
Popz

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

With this indexing you can slice the Series using the usual intuitive method

In [27]:
Popz[('California', 2010):('Texas', 2000)]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

But, say you want to know all the data of 2010, there would be some intricate playing with the index that would be necessary

In [11]:
Popz[[i for i in Popz.index if i[1]==2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

<b>There Exists a better way to store such data

Pandas has the perfect datatype `MultiIndex` to index exactly this sort of data

In [12]:
index=pd.MultiIndex.from_tuples(tupledindex)
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

Notice how `index` contains multiple levels of indexing, namely the statenames and the years. We can now, fix/improve the indexing of the Series `Popz` as follows

In [15]:
Popz=Popz.reindex(index)
Popz

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

The resultant is a Series displayed above with the first two columns showing the two levels of indeces, and the third column showing the population. We can now access the necessary elements as follows

In [16]:
Popz[:,2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

## MultiIndex as extra dimension

We could have easily kept the above data a bit more organized if we were to store it in a two dimensional array. This can be done the following way

In [20]:
PopzDF=Popz.unstack()
PopzDF

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

Conversly, the `stack` method provides the opposite operation

In [21]:
PopzDF.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

Thus, we just saw how a two dimenisional data can be represented in one dimension using multi indexing. Likewise, higher dimensional data can be represented in lower dimensional entities using `MultiIndex` indexing. 

Say we want to add another dimension with two features `under10` and `total`

In [23]:
PopzDF=pd.DataFrame({'Under18': [9267089, 9284094,4687374, 4318033,5906301, 6879014],'Total':Popz})
PopzDF

                 Under18     Total
California 2000  9267089  33871648
           2010  9284094  37253956
New York   2000  4687374  18976457
           2010  4318033  19378102
Texas      2000  5906301  20851820
           2010  6879014  25145561

In addition to this, all the Ufuncs discussed in operations work with these Data Storage Techniques

In [24]:
PopzDF['U18Frac']=PopzDF['Under18']/PopzDF['Total']
PopzDF

                 Under18     Total   U18Frac
California 2000  9267089  33871648  0.273594
           2010  9284094  37253956  0.249211
New York   2000  4687374  18976457  0.247010
           2010  4318033  19378102  0.222831
Texas      2000  5906301  20851820  0.283251
           2010  6879014  25145561  0.273568

## Creating a Multi-Index

Simplest way of Multi-indexing a `Dataframe` or `Series` is to pass two or more indexing arrays as an index

In [29]:
Df=pd.DataFrame(np.random.rand(4,2),index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],columns=['data1','data2'])
Df

        data1     data2
a 1  0.569538  0.952022
  2  0.152840  0.846205
b 1  0.883300  0.435154
  2  0.443617  0.193641

Pandas automatically recognizes the multi-indexing if we define a `Series` as follows

In [46]:
data={
    ('California', 2000): 33871648,
    ('California', 2010): 37253956,
    ('Texas', 2000): 20851820,
    ('Texas', 2010): 25145561,
    ('New York', 2000): 18976457,
    ('New York', 2010): 19378102
}
pd.Series(data)
# Remember how this is different from the way we defined the first Series
# pd.Series(populations,index=tupledindex)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

### Explicitly Defining MultiIndex's

For defining MultiIndex's you can use multiple predefined class methods.

In [52]:
pd.MultiIndex.from_tuples([
    ('a',1),
    ('a',2),
    ('b',3),
    ('b',4),
    ('b',5),
    ('c',6),
    ('c',7),
    ('c',8)
])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 3),
            ('b', 4),
            ('b', 5),
            ('c', 6),
            ('c', 7),
            ('c', 8)],
           )

In [54]:
pd.MultiIndex.from_arrays([
    [1,2,3,4,5,6,7,8],
    ['a','a','b','b','b','c','c','c']
])

MultiIndex([(1, 'a'),
            (2, 'a'),
            (3, 'b'),
            (4, 'b'),
            (5, 'b'),
            (6, 'c'),
            (7, 'c'),
            (8, 'c')],
           )

A MultiIndex can also be defined using a cartesian product of sets

In [ ]:
pd.multi